// -----------------------------------------------------------------------------
// The primary theme styling
// -----------------------------------------------------------------------------
//
$logo-color: $dark-color !default;

// Layouts
$layout-stage-height: 500px;
$layout-stage-width: 500px;

// Layout colours
$layout-color-1: #575554;
$layout-color-2: #b7b4b4;
$layout-color-3: #827f7e;
$layout-color-4: #e7e3e1;

// -----------------------------------------------------------------------------

body {
    background: $bg-color-dark;
}

// -----------------------------------------------------------------------------

#content {
    margin: $layout-spacing-lg 0;
    padding: $layout-spacing;
}

#header-wrapper,
#content {
    background: $bg-color;
}

#header-wrapper {
    padding: $layout-spacing 0;
    border-bottom: $border-width-lg solid $border-color-dark;
}

#logo {
    color: $logo-color;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;

    i.la {
        color: $primary-color;
    }
}

// -----------------------------------------------------------------------------

header.navbar {
    a.btn {
        font-size: $font-size-lg;
    }
}

// -----------------------------------------------------------------------------

.mbti-question {
    margin: 0.5em 0;

    .card-title {
        text-align: center;
        position: relative;
        margin: 0 1rem;

        .chip {
            position: absolute;
            left: -1rem;
        }
    }

    .card-body > .container {
        max-width: 30rem;
        margin: 0 auto;

        .columns {
            align-items: center;
        }

        .form-group {
            max-width: 12rem;
            margin: 0 auto;
        }
    }

    .form-radio .form-icon {
        border-width: 0.25rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}
